    <div class="container chat-container">
      <div class="row">
        <div class="col-md-4">
          <%= react_component('FriendsPanel') %>
        </div>
        <div class="col-md-8">
          <%= react_component('MessagesPanel') %>
        </div>
      </div>
    </div>