    <div class="container chat-container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Friends list
            </div>
            <div class="panel-body">
              <div><a href="#">Friend 1</a></div>
              <div><a href="#">Friend 2</a></div>
              <div><a href="#">Friend 3</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              Messages
            </div>
            <div class="panel-body">
              <%= react_component('Message') %>
              <div class="clearfix bg-info">Message 1</div>
              <div class="clearfix bg-success">Message 2</div>
              <div class="clearfix bg-info">Message 3</div>
            </div>
            <div class="panel-footer">
              <input type="text" />
              <button>Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>